# Любой токен, с ним будут связаны изменения данных
# Да, он все равно попадет в бандл, но и секрета в нем никакого нет
AUTHORIZATION='Basic <произвольный токен>'
END_POINT=https://24.objects.htmlacademy.pro/big-trip
